body {
    background-color: #3A86DC;
}
.container {
    max-width: 1440px;
    position: relative;
    padding: 0 15px;
    margin: 0 auto;   
    
}
.hide {
    display: none;
}

.to-do-block {
    display: flex;
    justify-content: center;
    /* position: relative;
    left: 30%;
    width: 67%;
    background-image: url(../img/backgr.png);
    background-size: contain; */
}
.blockAdd {
    /* top: 55px;
    position: absolute; */
    width: 100%;
    left: 5%;
    display: flex;
}
.mainTitle {
    position: absolute;
    right: 0;
    /* transform: translate(-50%, 0%); */
    color: #ffffff;
    /* border: 2px solid #000; */
    border-radius: 3px;
    top: 0px;
    margin: 0;
    background-color: #007fff;
    padding: 5px 16px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
    font-size: 28px;
    font-weight: 400;
}
.blockList {
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
}
.inputSearch {
    width: 100%;
    height: 26px;
    border-radius: 5px;
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
    border: 1px solid #ffffff;
}

input:focus {
    outline: none;
}

.blockList .list li {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    height: 25px;
    padding: 5px 0px;
    border-radius: 5px;
    background-color: #fff;
    list-style-type: none;
    
}

.blockList .list li:nth-child(2n) {
    background-color: #f9f9f9;
  }
.wrapperBlock{

    width: 50%;
    min-height: 600px;
    position: relative;
    left: 25%;
    margin-top: 50px;
    /* border: 2px solid #000; */
    border-radius: 5px;
    background-color:#fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
     0px 2px 4px rgba(0, 0, 0, 0.1),
      0px 4px 8px rgba(0, 0, 0, 0.1),
       0px 8px 16px rgba(0, 0, 0, 0.1);
}
.bntBlock {
    margin-left: -81px;
}
.nameTask {
    width: 37%;
    height: 26px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #ffffff;
    
    
}
.inputBlock {
        display: flex;
        width: 90%;
        margin-top: 28px;
        margin-left: 5%;
        padding-bottom: 70px;
        border-bottom: 2px solid #000;
}
.list {
    /* position: absolute;
    top: 65px; */
    width: 100%;
    padding-left: 0;
    margin: 0;

}
.taskValue {
    width: 80%;
    margin-left: 10px;
    line-height: 25px;
    font-size: 17px;
    overflow: hidden;
}
/* .deleteTask {
    
} */
.listItem:has(input:checked) .taskValue {
    opacity: 0.7;
    text-decoration: line-through;
}
/* 
.blockList .list .listItem:has(input:checked) {
    opacity: 0.2;
} */
.listItem img {
    margin-left: 19px;
    width: 22px;
    margin-top: 5px;
    opacity: 0.5;
    right: 9px;
    top: 0;
    position: absolute;
 }
 
.list .listItem input {
    margin-left: 8px;
}
.listItem {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.list li .btn {
    /* width: 50px; */
    top: -5px;
    /* position: relative; */
    display: inline-block;
    box-sizing: border-box;
    padding: 0px 20px 0 11px;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 35px;
    line-height: 30px;
    font-size: 12.5px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
    color: #55677d;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.searchForm {
    width: 120px;
    display: flex;
    position: absolute;
    top: 28px;
    right: 5%;
    /* border-bottom: 2px solid #000;
    padding-bottom: 15px; */
}
.getData {
    position: absolute;
    top: 80px;
    left: 5%;
    
}
.shadow {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}
.pageBlock {
    position: absolute;
        top: 0px;
        left: -10%;
}

.btn-reset {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 16px;
    padding: 0px 10px 0 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    font-size: 12.5px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
    color: #ffffff;
        background-color: #007fff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    overflow: hidden;
    /* border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; */
    margin: 0;
}
.btnSearch {
    width: 82px;
    display: inline-block;
        box-sizing: border-box;
        padding: 0 16px;
        padding: 0px 10px 0 10px;
        outline: none;
        border: none;
        border-radius: 4px;
        height: 30px;
        line-height: 30px;
        font-size: 12.5px;
        font-weight: normal;
        text-decoration: none;
        vertical-align: top;
        color: #ffffff;
            background-color: #007fff;
        cursor: pointer;
        user-select: none;
        appearance: none;
        touch-action: manipulation;
        overflow: hidden;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin: 0;
        
}
.btn,.btnAddTask ,.deleteAllTask {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 6px;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    font-size: 12.5px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
    color: #ffffff;
        background-color: #007fff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0;
    
}
.deleteList {
    padding: 0 6px;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    font-size: 12.5px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
    color: #ffffff;
    background-color: #007fff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    overflow: hidden;
    
    margin: 0;

}


.btn:focus-visible ,.btnSearch:focus-visible, .btnAddTask:focus-visible ,.deleteList:focus-visible{
    box-shadow: 0 0 0 3px lightskyblue;
}

.btn:hover, .btnSearch:hover ,.btnAddTask:hover ,.ddeleteList:hover{
    opacity: 0.88;
}

.btn:active, .btnSearch:active ,.btnAddTask:active ,.deleteList:active{
    line-height: 32px;
}

.btn:disabled, .btnSearch:disabled ,.btnAddTask:disabled ,.deleteList:disabled{
    pointer-events: none;
    opacity: 0.1;
}
.deleteList {
    position: absolute;
    right: 5%;
    top: 78px;
}

@media(max-width: 1100px) {
    .searchForm {
        top: 71px;
    }
        
    .nameTask {
        font-size: 11px;
        width: 100%;
    }
    .btnSearch {
        width: 84px;
        padding: 0px 10px 0 10px;
    }
    .blockList {
        margin-top: 25px;
    }
    .btnAddTask {
        width: 90px;
    }
    .inputBlock {
        padding-bottom: 110px;
    }
    .getData {
        top: 71px;
    }
    .deleteList {
        width: 90%;
        top: 117px;
    }
        .inputSearch {
            font-size: 11px;
        }
    
    
}

@media(max-width: 800px) {
.taskValue {
        width: 70%;
    }
}
@media(max-width: 600px) {
    .mainTitle {
            display: none;
        }
    .btn-reset {
            width: 90%;
    }
        .deleteList {
            width: 90%;
            top: 155px;
        }
    .taskValue {
        width: 50%;
    }
    .btnAddTask {
        width: 100px;
    }
    .searchForm {
        width: 90%;
        top: 114px;
    }
        .inputBlock {
            padding-bottom: 144px;
        }
}